<h2 style="text-align:center">会員登録</h2>
<% if flash[:success] %>
  <div class="container">
    <p class="col-sm-5 col-sm-offset-5" style="width:200px;"><%= flash[:success] %>
    </p>
  </div>
<% end %>
<div style="width:100%;">
  <div style="width:600px;margin:0 auto;text-align:center;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field" style="margin-top:15px;">
        <%= f.label :名前 %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="field" style="margin-top:15px;">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field" style="margin-top:15px;">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上で登録してください)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field" style="margin-top:15px;">
        <%= f.label :確認用パスワード %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div style="text-align:center;margin-top: 20px;">
        <%= f.submit "登録", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

