<h1>投稿一覧</h1>
  <% @posts.each do |post| %>
    <div>
      <%= attachment_image_tag post, :image %>
      <%= attachment_image_tag post.user, :profile_image %>
      <%= post.user.name %>
      <%= post.created_at %>
      <%= post.content %>
      <%= attachment_image_tag post, :image %>
      <%= post.comments.count %>
      <%= post.nices.count %>
      <% Comment.with_deleted.where(post_id: post).each do |comment| %>
        <%= comment.user.image %>
        <%= comment.user.name %>
        <%= comment.created_at %>
        <%= comment.comment %>
      <% end %>
    </div>
  <% end %>