<%= link_to end_user_user_path(@user) do %>
  <%= attachment_image_tag @user, :profile_image, size: "80x80", format: 'jpeg', fallback: "no_image.jpg" %>
  <span class="profile-label"><%= @user.name %></span>
<% end %>
<% if @user.id != current_user.id %>
  <div class="follow-button">
    <%= render 'end_user/relations/follow_button', user: @user %>
  </div>
<% end %>
<p><span class="profile-label">introduction </span><%= @user.introduction %></p>
<% if @user.id == current_user.id %>
  <p><span class="profile-label">email </span><%= @user.email %></p>
  <%= link_to 'ユーザ編集', edit_end_user_user_path(@user), class: "btn btn-default" %>
  <%= link_to '退会', end_user_check_path(@user), class:"btn btn-danger" %>
<% end %>
<div class="profile-top-bar" style="width:100%;">
  <%= link_to end_user_user_path(@user) do %>
    <span class="user_profile_button">投稿 <%= @user.posts.count %></span>
  <% end %>
  <%= link_to end_user_nice_path(@user) do %>
    <span class="user_profile_button">いいね <%= @user.nices.count %></span>
  <% end %>
  <%= link_to end_user_following_path(@user) do %>
    <span class="user_profile_button">フォロー中 <%= @user.followings.count %></span>
  <% end %>
  <%= link_to end_user_followed_path(@user) do %>
    <span class="user_profile_button">フォロワー <%= @user.followers.count %></span>
  <% end %>
</div>