<div class="container">
  <div class="row">
    <div class="col-sm-4 profile">
      <%= render 'end_user/users/showtemplate', user: @user %>
    </div>
    <div class="col-sm-8">
      <% if @followers.any? %>
        <% @followers.each do |follower| %>
          <div class="follow">
            <%= link_to end_user_user_path(follower.id) do %>
              <%= attachment_image_tag follower, :profile_image, size: "70x70", format: 'jpeg', fallback: "no_image.jpg" %>
              <span class="follow-user"><%= follower.name %></span>
            <% end %>
            <span class="follow_button">
              <%= render 'follow_button' %>
            </span>
            <p><span class="follow-user">introduction  </span><%= follower.introduction %></p>
          </div>
        <% end %>
        <%= paginate @followers, class: "paginate" %>
      <% else %>
        <p class="nothing">フォロワーがいませんでした。</p>
      <% end %>
    </div>
  </div>
</div>